<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=320, initial-scale=1.0"/>
    <title>Agridera</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/responcive.css">
    <script src="https://use.fontawesome.com/17250ce87d.js"></script>
  </head>
  <body>
    <header> 
        <div class="bar">
            <div class="container">
                <div class="row mt-2"> 
                    <div class="col">
                        <img src="img/Logo.png" class="d-inline-block align-top logo">
                    </div>
                    <div class="col seacr-menu-row">
                        <div class="form-group has-feedback">
                            <input type="text" id="inputSuccess2" placeholder="Search"/>
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                        <nav class="navbar navbar-default">
                            <ul class="d-flex nav">
                                <a href="../main/index.html"><li class="nav-item">Home</li></a>
                                <li class="nav-item">Company</li>
                                <a href="../tomato-one/index.html"><li class="nav-item">Profile</li></a>
                                <a href="../tomato/index.html"><li class="nav-item">Products</li></a>
                                <li class="nav-item">Services</li>
                                <li class="nav-item">R & D</li>
                                <a href="../contact us/index.html"><li class="nav-item">Contact</li></a>
                            </ul>
                        </nav>
                    </div>      
                </div>               
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button> 
        </div>   
    </header>

    <main id="app">
       <div class="conteiner grid-block"  :v-bind="product">
               <div class="mr-5 info">	
                   <a href="../tomato/index.html"><p class="mt-3 mb-4 arrow"> Return to all tomatoes</p></a>
                   <h1 class="green-title"><span>{{product.title}}</span>
                    {{product.short_text}}</h1>
                    <img src="img/Union.png" class="mt-5 mb-5">
                    <div class="conteiner d-flex mr-auto">
                        <img src="img/Group 17.png" class="mr-3 stiker">
                        <h3>Very high yield and excellent fruits quality!
                        </h3>
                    </div>
                    <div class="conteiner mt-5">
                        <h5 class="line">CHARACTERISTICS</h5>
                        <p><span class="resist">Resistance</span></p>
                        <p>HR: ToMV:0-2; Fol: 1,2; Ve/Vd; </p>
                        <p>IR: TYLCV</p>
                    </div>
                    <div class="conteiner mt-5">
                        <h5 class="line">Plant</h5>
                        <ul>
                            <li class="green-mark"><span class="list-text">Strong vigor that provides good leaf coverage.</span></li>
                            <li class="green-mark"><span class="list-text">Very high productivity with good fruit setting.</span></li>
                            <li class="green-mark"><span class="list-text">Early matured variety.</span></li>
                        </ul>
                    </div>
                    <div class="conteiner mt-5">
                        <h5 class="line">Fruit</h5>
                        <ul>
                            <li class="green-mark"><span class="list-text">Long shelf life on plant and post harvest</span>.</li>
                            <li class="green-mark"><span class="list-text">Nice shiny attractive deep red color.</span></li>
                            <li class="green-mark"><span class="list-text">Average fruit size: 140 – 160 grams.</span></li>
                        </ul>
                    </div>
                </div>
               <div class="second-block">
                   <img :src="product.image" class="tomato-pict">
                   <button class="mt-4 download" 
                           v-on:click="addToCart(product.id)"
                           v-if="!btnVisible"
                        >
                       Add to cart
                    </button>
                    <button class="mt-4 download" v-if="btnVisible">
                        <a href="../contact us/index.html">Go to cart</a>
                    </button>
                   <div class="conteiner mt-5">
                        <h5 class="line">Cycle</h5>
                        <ul>
                            <li class="green-mark"><span class="list-text">Spring</span></li>
                            <li class="green-mark"><span class="list-text">Fall</span></li>
                            <li class="green-mark"><span class="list-text">Winter</span></li>
                        </ul>
                    </div>
                    <div class="conteiner mt-5">
                        <h5 class="line">Fruit</h5>
                        <p>Red</p>
                    </div>
               </div>
       </div>

    </main>
    <footer>
        <div class="d-flex footer-links justify-content-center">
            <ul class="d-flex nav">
                <a href="../tomato-one/index.html"><li class="nav-item">PROFILE</li></a>
                <li class="nav-item">MANAGEMENT</li>
                <a href="../tomato/index.html"><li class="nav-item">PRODUCTS</li></a>
                <li class="nav-item">R&D</li>
                <li class="nav-item">LINKS</li>
                <li class="nav-item">SITEMAP</li>
                <a href="../contact us/index.html"><li class="nav-item">CONTACT</li></a>
            </ul> 
            <div class="container s-networks">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-skype"></i></a>
            </div>
        </div>
        <div class="copyriths">
            <p class="copyriths-text">AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>