@font-face {
    font-family: 'RobotoSlab-Black';
    src: url('../../fonts/bold/RobotoSlab-Black.eot');
    src: url('../../fonts/bold/RobotoSlab-Black.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/bold/RobotoSlab-Black.svg#RobotoSlab-Black') format('svg'),
         url('../../fonts/bold/RobotoSlab-Black.ttf') format('truetype'),
         url('../../fonts/bold/RobotoSlab-Black.woff') format('woff'),
         url('../../fonts/bold/RobotoSlab-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'RobotoSlab-Light';
    src: url('../../fonts/ligth/RobotoSlab-Light.eot');
    src: url('../../fonts/ligth/RobotoSlab-Light.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/ligth/RobotoSlab-Light.svg#RobotoSlab-Light') format('svg'),
         url('../../fonts/ligth/RobotoSlab-Light.ttf') format('truetype'),
         url('../../fonts/ligth/RobotoSlab-Light.woff') format('woff'),
         url('../../fonts/ligth/RobotoSlab-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  

body{
    font-family: 'RobotoSlab-Light';
    color:#324950;
    font-size: 14pt;
    background-color: #E5E5E5;
    display: grid;
}

header{
    width: 100%;
}

.bar{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    float: left;
    background-color: white;
}

.back-img{
    margin: 9px;
    width: 200px;
    height: 100px;
}

.logo{
    width: 250px;
    height: 150px;
    padding: 16px;
}


#inputSuccess2{
    position: relative;
    left: 55%;
}

.seacr-menu-row i{
    color:#2D3F45;
}

h1,h2, h5{
    font-family: RobotoSlab-Black;
}

p{
    font-weight: 100;
}

.seacr-menu-row{
    margin: auto 0;
}

.nav li{
    margin: 0 5px;
}

header .nav li{
    font-family: RobotoSlab-Black;
}

.bg-img {
    position: relative;
    width: 100%;
    height: 480px;
  }

.seacr-menu-row input{
    background: transparent;
    border: none ;
    border-bottom: solid 2px;
}

.input-group-addon{
    position: absolute;
    left: 93%;
}

.form-group{
    text-align: right;
}
main{
    position: relative;
    top: 10%;
}
.col-4{
    max-width: 100%;
}

span{
    color:#57984C;
}

hr{
    background-color: #57984C;
    border: solid 1px #57984C;
    width: 200px;
}

.contact-us{
    margin: auto;
    width: fit-content;
}

.form-group{
    text-align: left;
}

label{
    font-weight: bold;
    margin-bottom: 15px !important
}


form select{
    width: 350px !important;
    height: calc(3.875rem + 2px) !important;
}

.d-flex input{
    margin: 0px 3%;
    width: 120px !important;
}

.d-flex{
    width: fit-content;
}
.form-group input{ 
    border-radius: 12px !important;
}

.contact-us{
    display: grid;
    grid-template-columns: 0fr 1fr;
    grid-column-gap: 20px;
    width: fit-content;
    margin: auto;
}

.long-inp{
    width: 500px !important;
}

textarea{
    height: 366px;
    border-radius: 12px !important;
}

.cross{
    margin: 35px 0;
}
input[type="submit"]{
    width: 255px !important;
    background-color: #57984C;
    color: white;
    font-weight: bold;
    padding: 0.7rem 2.75rem;
    border-radius: 37px;
    border: none;
}

.capture{
    width: 120px;
    height: 40px;
    margin: auto;
}

footer{
    position: relative;
    max-width: 100%;
    height: 30px;
    width: 100%;
    top: 250px;
}

.adress{
    text-align: center;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 20px;
}

.adress p{
    margin-top: -0.9em;
}

.s-networks .fa{
    padding: 10px;
    color: #57984C;
    border: solid 2px #57984C;
    border-radius: 40px;
    margin-right: 9px;
}

.s-networks{
    width: fit-content;
    margin: 10px 0;
    position: relative;
    left: 2%;
}

.footer-links{
    background-color: #2D3F45;
    text-align: center;
    color:white;
    width: 100%;
}

.footer-links .nav{
    margin: 10px 6px;
}
.footer-links li{
    margin: 4px 18px;
}

.copyriths{
    text-align: center;
    background-color: #324950;
    color:white;
}

a{
    color:#2D3F45;
    text-decoration: none;
}

 footer a{
    color:white;
    text-decoration: none;
}

nav{
    padding: 0 !important;
 }

.navbar-toggler span{
    display: grid;
    height: 2px;
    background-color: #2D3F45;
    margin: 7px;
}

.navbar-toggler{
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 0;
}

.second-block{
    width: fit-content;
}

tr img{font: fallback;
    width: 100px;
}

th,td, tr {
    padding: 3px;
    border-bottom: 1px solid #2D3F45;
}

thead{
    text-align: center;
}

table{
    width: 600px !important;
}

.close{
    width: fit-content;
}

.info-order{
    margin: auto;
    width: fit-content;
    font-family: 'RobotoSlab-Black';
}